@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0%, 100% {
    background-color: rgb(239 246 255);
  }
  50% {
    background-color: rgb(219 234 254);
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.blink-attention {
  animation: blink 1s ease-in-out infinite;
  background-color: rgb(219 234 254);
}